@import '../header/header.css';
@import '../note/note.css';
@import '../save/save.css';
@import '../dark-theme/dark-theme.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 3% 5%;
}

