@import './header/header.css';
@import './note/note.css';
@import './save/save.css';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}