@import url(../css/fonts.css);

.save {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 40px;
}

.save-list {
    padding: 30px;
    box-shadow: 0px 2px 5px 0px rgb(179, 179, 179);
    min-height: 175px;
}

.save__title {
    text-align: center;
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Inter-Regular';
    font-size: 20px;
}

.save-list__item {
    padding: 15px 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px 0px rgb(179, 179, 179);
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Inter-Regular';
    font-style: italic;
}

.save-list__item:last-child {
    margin: 0;
}

.save-list__item:hover {
    box-shadow: 0px 1px 5px 0px rgb(110, 110, 110);
}